
<div class="jumbotron text-center">
  <h1>Auth'd as {{username}}!</h1>
  <p class="lead">
    You are in - token and everything!
  </p>
</div>

<h3>Want Proof?</h3>
<p>Use these links to access things using your token</p>

<h4>Info about you</h4>
<a href="http://www.arcgis.com/sharing/rest/community/self?f=json&token={{token}}" target="_blank">http://www.arcgis.com/sharing/rest/community/self</a>

<h4>Listing of your Content</h4>
<a href="http://www.arcgis.com/sharing/rest/content/users/{{username}}?f=json&token={{token}}" target="_blank">http://www.arcgis.com/sharing/rest/content/users/{{username}}</a>