

<div class="jumbotron text-center">
  <h1>Let's oAuth!</h1>
  <p class="lead">
    Hacking Angular + ui-router to work with AGO
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="https://www.arcgis.com/sharing/oauth2/authorize?client_id=hhtN8jFtnA0mYWSb&response_type=token&redirect_uri=http://localhost:9000">Sign in at ArcGIS.com</a></p>
</div>

<div class="row marketing">
  <h4>What we are doing...</h4>
  <p>
    Press the button above and the page will redirect to the AGO oAuth login. On successful
    authentication, it will route back to this app with the token. 
  </p>
</div>

